.library {
    width: 20rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    box-shadow: 2px 2px 50px rgb(204, 204, 204);
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
}

h2 {
    padding: 2rem;
}

.library-song {
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 1rem;
    cursor: pointer;
    
    img {
        width: 30%;
    }

    &:hover {
        background-color: rgb(216, 231, 255);
    }
}

.song-description {
    padding-left: 1rem;

    h3 {
        padding-left: 1rem;
    }

    h4 {
        padding-left: 1rem;
    }
}

.active-library {
    transform: translateX(0%);
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .library {
        width: 100%;
    }
}