.player {
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.time-control {
    width: 50%;
    display: flex;
    input {
        width: 100%;
        padding: 1rem 0rem; 

    }

    p {
        padding : 1rem;
    }
}

.play-control {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

svg {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .time-control {
        width: 90%;
    }

    .play-control {
        width: 80%;
    }
}
